<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="im.clazz">

    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_SINTERNETWIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.RAISED_THREAD_PRIORITY" />

    <application
        android:name=".Application"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme.Light"
        tools:replace="android:allowBackup">
        <activity
            android:name=".ui.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".ui.StartActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.tutor.TutorProfileActivity" />
        <activity android:name=".ui.overseas.OverseasServiceActivity" />
        <activity android:name=".ui.training.agency.TrainingAgencyActivity" />
        <activity android:name=".ui.training.EditTrainingCourseActivity" />
        <activity
            android:name=".ui.training.TrainingCourseActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".pdf.MuPDFActivity"
            android:theme="@style/FullscreenTheme.White" />

        <activity android:name=".pdf.PDFViewActivity" />

        <activity
            android:name=".video.VideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="reverseLandscape"
            android:theme="@style/FullscreenTheme" />

        <activity
            android:name=".video.OnlineCourseVideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="reverseLandscape"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.SlideActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="reverseLandscape"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".ui.SlideOnlyActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="reverseLandscape"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".ui.WebViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".ui.ServiceProtocolActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />

        <activity
            android:name=".ui.school.taget.TargetActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".ui.school.SchoolActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />

        <activity
            android:name="image.camera.CameraActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name="image.crop.CropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name="com.zbar.lib.ScanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".ui.school.JoinClassActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.school.JoinGroupPagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.group.ClubImagePreviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoAnimation" />
        <activity
            android:name=".ui.group.GroupActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.CLUB" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.school.CreateGroupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.school.EditSchoolProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.school.CreateSchoolActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.InviteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ImagePreviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoAnimation" />
        <activity
            android:name=".ui.school.SearchGroupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light"
            android:windowSoftInputMode="stateVisible" />

        <activity
            android:name=".ui.school.SearchClassActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light"
            android:windowSoftInputMode="stateVisible" />

        <activity
            android:name=".ui.search.SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light"
            android:windowSoftInputMode="stateVisible" />

        <activity
            android:name=".chat.ChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".settings.SettingsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".settings.AccountBindingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".settings.BindAccountActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".settings.QueryCenterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".settings.QueryGradeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".settings.AtMeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".ui.student.StudentEditProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".ui.student.TeacherEditProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".schedule.TimeSettingsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".schedule.CreateCourseActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".course.StudentListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".campus.moments.MomentListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".ui.school.AdminListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".course.OnlineCourseListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".course.OnlineCourseCommentListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".course.OnlineCourseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light.TransparentStatus"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.school.SearchDepartmentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".course.SelectTagsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".course.MyCourseActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.school.SearchAdminActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.school.SchoolDescriptionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".campus.news.NewsListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.group.GroupMemberListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".lesson.BindSlideActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".course.EditCourseSessionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.EmptyActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.photoselector.ui.ImageSelectorActivity"
            android:label="@string/choose_picture"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".ui.student.UserActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />

        <activity
            android:name="im.clazz.lesson.LessonActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.about.AboutActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".ui.search.SearchMoreActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />

        <activity
            android:name=".campus.group.GroupMomentActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light" />

        <activity
            android:name=".campus.group.PersonalMomentActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light" />

        <activity
            android:name=".campus.library.LibraryAnnounceActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".campus.library.LibraryMyBorrowActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".campus.library.BookActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light"
            android:windowSoftInputMode="adjustNothing|stateHidden" />

        <activity
            android:name=".campus.notes.NoteActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light" />

        <activity
            android:name=".campus.group.JoinGroupActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light" />

        <activity
            android:name=".campus.activities.ActivityActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light.TransparentStatus"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".campus.activities.CreateActivityActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light" />

        <activity
            android:name=".campus.assignment.CreateAssignmentActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".campus.assignment.AssignmentSelectTargetActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".ui.CommonEditActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light"
            android:windowSoftInputMode="adjustResize|stateVisible" />

        <activity
            android:name=".account.LoginActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light" />

        <activity
            android:name=".account.ScanLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light.SlideUp" />

        <activity
            android:name=".account.SelectIdentityActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light" />

        <activity
            android:name=".account.SelectSchoolActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light" />

        <activity
            android:name=".account.SelectCollegeActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light" />

        <activity
            android:name=".account.SelectEnrollmentYearActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light" />
        <activity
            android:name=".account.SelectTitleActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light" />

        <activity
            android:name=".account.RegisterActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light" />

        <activity
            android:name=".account.VerifyCodeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light" />

        <activity
            android:name=".account.ForgetPasswordVerifyActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light"
            android:windowSoftInputMode="stateAlwaysVisible|stateVisible" />

        <activity
            android:name=".account.ChangePasswordActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light" />

        <activity
            android:name=".account.SupplementProfileActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light" />

        <activity
            android:name=".account.SupplementTeacherProfileActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light" />

        <activity
            android:name=".account.SelectMajorActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light" />

        <activity
            android:name=".account.SelectClassActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light" />

        <activity
            android:name=".campus.news.NewsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light"
            android:windowSoftInputMode="adjustNothing|stateHidden" />

        <activity
            android:name=".course.CourseActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light"
            android:windowSoftInputMode="adjustNothing|stateHidden" />

        <activity
            android:name=".course.CourseEditActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light"
            android:windowSoftInputMode="adjustNothing|stateHidden" />

        <activity
            android:name=".campus.notification.NotificationActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light"
            android:windowSoftInputMode="adjustNothing|stateHidden" />
        <activity
            android:name=".campus.notification.NotificationListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing|stateHidden" />
        <activity
            android:name=".course.CourseVersionsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light"
            android:windowSoftInputMode="adjustNothing|stateHidden" />

        <activity
            android:name=".campus.notification.NotificationResponserListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".campus.notification.NotificationSelectedListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".campus.notification.NotificationSelectTargetActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />

        <activity
            android:name=".schedule.ScheduleAddCourseActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />

        <activity
            android:name=".campus.topic.TopicActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />

        <activity
            android:name=".campus.activities.ActivitiesSelectTargetActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".campus.activities.ActivitiesSelectGradeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />

        <activity
            android:name=".message.ContactsxActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".message.ContactsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".campus.topic.PostTopicActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />

        <activity
            android:name=".campus.group.WriteGroupMomentActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Editor"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".campus.notes.WriteNoteActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Editor"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".campus.assignment.DoAssignmentActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Editor"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".campus.job.JobActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Editor"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".campus.assignment.CheckAssignmentActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Editor"
            android:windowSoftInputMode="adjustNothing|stateHidden" />

        <activity
            android:name=".campus.assignment.AssignmentSummaryActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Editor"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".campus.notification.PostNotificationActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Editor"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".ui.ReportActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".campus.notification.SelectSenderActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".campus.group.WritePersonalMomentActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Editor"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".campus.lost_found.PostLostFoundActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Editor"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoDisplay"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />

        <service
            android:name=".service.IMService"
            android:process=":im" />

        <service
            android:name=".service.AudioService"
            android:process=":audio" />


        <receiver
            android:name=".broadcast.BootReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".broadcast.NetworkReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <receiver android:name=".AppRegister">
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver>

        <provider
            android:name="net.grandcentrix.tray.provider.TrayContentProvider"
            android:authorities="im.clazz"
            android:exported="false"
            android:multiprocess="false" />
        <provider
            android:name=".provider.Provider"
            android:authorities="im.clazz"
            android:exported="false"
            android:process=":provider" />

        <meta-data
            android:name="im.clazz.GlideModule"
            android:value="GlideModule" />
    </application>

</manifest>